.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 1rem;
    z-index: 9999;
    opacity: 1;
    position: fixed;
    animation: show .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #b9b7b7;
}

@media (max-width: 400px) {
    .modalContainer{
        width: 80%;
        height: 90%;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
        background-color: #fff;
        display: block;
    }

    .img{
        height: 45%;
        width: 20%;
        max-width: 70%;
        float: left;
        margin-left: 7%;
        margin-top: 3%;
    }
}

@media (min-width: 400px) and (max-width: 1199px) {
    .modalContainer{
        width: 80%;
        height: 90%;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
        background-color: #fff;
        display: block;
    }

    .img{
        height: 50%;
        width: 20%;
        max-width: 70%;
        float: left;
        margin-left: 7%;
        margin-top: 6%;
    }
}

@media (min-width: 1200px) {
    .modalContainer{
        width: 35%;
        height: 85%;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
        background-color: #fff;
        display: block;
    }

    .img{
        height: 85%;
        width: 17%;
        max-width: 70%;
        float: left;
        margin-top: 30px;
        margin-left: 7%;
        display: inline-block;
    }

    .textContainer{
        margin-top: 30px;
        width: 65%;
        display: inline-block;
        text-align: left;
    }

    .description{
        height: 50%;
        margin-bottom: 20px;
    }
}

.close{
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-right: 2%;
}

.title{
    font-size: 30px;
    color: orange;
    display: block;
}

.floatLeft{
    text-align: left;
    margin-left: 20px;
}

.tagline{
    color: #cecccc;
    font-size: 20px;
    display: block;
}

.similarContainer{
    height: 15%;
    margin-top: 40px;
}

.smallImg{
    max-height: 150px;
    margin: 20px auto;
}

.similarCard{
    height: 250px;
    margin-left: 2%;
    width: 30%;
    border: 1px solid gray;
    cursor: pointer;
    float: left;
}

.containerDescription{
    height: 50%;
}